@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>mar0der`s application</h1>
    <p>
        Users Created:
        <ul>
            <li>Administrator: mar0der - 123</li>
            <li>user: pesho1 - 123</li>
            <li>user: pesho2 - 123</li>
            <li>user: pesho3 - 123</li>
            <li>user: pesho4 - 123</li>
            <li>user: pesho5 - 123</li>
        </ul>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Some content Title</h2>
        <p>
            Some Content here
        </p>
    </div>
</div>